.app-layout {
    min-height: calc(100vh - 74px);
    background: #111217;
}

.app-content {
    margin-left: 260px;
    min-height: calc(100vh - 74px);
    transition: margin-left 0.3s ease;
}

.app-content.expanded {
    margin-left: 82px;
}

@media (max-width: 768px) {
    .app-content {
        margin-left: 82px;
    }

    .app-content.expanded {
        margin-left: 74px;
    }
}